body{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
}
h1,h2{
    text-align: center;
    -webkit-text-fill-color:rgb(14, 156, 161);
}
ul{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    -webkit-text-fill-color:rgb(14, 156, 161);
}
form{
    text-align: center;
    font-style: italic;
    font-size: 35px;
    -webkit-text-fill-color:rgb(14, 156, 161);
}

#van{
    text-align: left;
    font-size: 30px;
}
#byc{
    background-image: url('bg.jpg');
    opacity: 12;
    background-repeat: no-repeat;
    background-size: cover;
}
    .total {
        width: 400px;
        height: auto;
        border: 4px solid rgb(14, 156, 161);
        padding: 20px 20px ; 
        margin: auto;
    }



