body{
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
    -webkit-text-fill-color:rgb(14, 156, 161);
}
.toorder{
    width: 300px;
    height: auto;
    border: 2px solid rgb(14, 156, 161);
    padding: 20px 20px ; 
    margin: auto;
}
.show{
    -webkit-text-fill-color:rgb(14, 156, 161);
    width: 400px;
    height: auto;
    border: 4px solid rgba(255, 255, 255,.5);
    padding: 20px 20px ; 
    margin: auto;
}